:root {
  --primary-color: #4C9ED9;
  --secondary-color: #2C3E50;
  --accent-color: #66CC99;
  --background-color: #E5E5E5;
  --text-color: #FFFFFF;

  /* --primary-color: #4C9ED9;
  --secondary-color: #7ED6A6;
  --accent-color: #ef9000;
  --background-color: #FFFFFF;
  --text-color: #333333; */

  /* color: #4C9ED9;
  color: #2C3E50;
  color: #66CC99;
  color: #E5E5E5;
  color: #FFFFFF;
  
  color: #4C9ED9;
  color: #7ED6A6;
  color: #ef9000;
  color: #FFFFFF;
  color: #E5E5E5; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

body {
  background-color: #fff;
  color: #000;
  -webkit-font-smoothing: antialiased;


}

body,
input,
textarea,
button {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}


::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #585f6e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d2b4b7e;
}
